<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
              crossorigin="anonymous">
        <title>Editar Paciente</title>
    </head>
    <body class="container">
        <div class="container">
            <h2>Editar Paciente</h2>
            <hr/>
            <form method="post" th:action="@{/guardarHabitacion}" th:object="${paciente}">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label >Nombre de la mascota</label>
                    <input type="text" class="form-control" th:field="*{nombre}" disabled="disabled">
                </div>
                <div class="mb-3">
                    <label>Número de Habitación</label>
                    <input  type="text" class="form-control" th:field="*{numero_habitacion}">
                </div>
                <a th:href="@{/listarPacientes}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
</html>